.themesBlock {
  background-color: var(--taskMenu-color);
  transition: all 0.2s;
  border-radius: 1.5em;
  padding: 0 1.5em 0 0.5em;
}

.open {
  background-color: var(--dark-taskMenu-color);
}

.appTitle {
  font-weight: bold !important;
  font-size: 2em !important;
  margin: 0 0.5em !important;
}

.toolbar {
  background-color: var(--taskMenu-color);
  display: flex;
  justify-content: space-between;
}
